* {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc;
}

#menu img {
    height: 32px;
    width: 32px;
    margin-right: 952px;
}

#menu nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    margin:  20px 30px;
}

#menu nav a {
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}