/* body */
/* default font */
* {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc;
}

/* menu icon */
#menu img {
    height: 32px;
    width: 32px;
    margin-right: 952px;
}

#menu nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    margin: 20px 30px;
}

#menu nav a {
    color:#000000;
    text-decoration: none;
    margin-right: 40px;
}

/* body */
table {
    border-collapse: collapse;
    text-align: left;
    padding: 10px 50px 300px;
    margin: 10px 50px 300px;
}

/* portfolio user's name */
th h1 {
    font-size: 50px;
    padding-right: 70px;
    margin-right: 70px;
}

/* portfolio user's introduction */
th h2 {
    font-size: 30px;
    word-spacing: 4px;
    padding-left: 70px;
    margin-left: 70px;
}

/* arrow icon */
th img {
    height: 32px;
    width: 32px;
    padding-top: 20px;
    margin-top: 20px;
}

/* highlight */
th h3 {
    font-size: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

/* arts and design */
th h4 {
    padding: 20px 0px;
    margin: 20px 0px;
}

/* list of description */
ul {
    padding-top: 0px;
    margin-top: 0px;
}

/* description */
li {
    font-size: 17px;
    padding-right: 70px;
    margin-right: 70px;
    line-height: 25px;
}

/* link to see more */
td a {
    display: inline-block;
    padding: 20px 0px 100px;
    margin: 20px 0px 100px;
    color: #000000;
}

/* right-up arrow icon */
td a img[src*='right-up'] {
    height: 17px;
    width: 17px;
}

td img[src*='flowerpainting'] {
    width: 500px;
    height: 420px;
    padding-left: 50px;
    margin-left: 50px;
}

.custom-line {
    border: none;
    width: 1225px;
    height: 2px;
    background-color: #000000;
}

/* soundcloud click link */
li a[href*='cole-469833499'] {
    text-decoration: underline;
    padding: 0px;
    margin: 0px;
}

td img[src*='songcoverthbn.png'] {
    width: 525px;
    height: 290px;
    padding-left: 50px;
    margin-left: 50px;
}

td img[src*='dancethumbnail.png'] {
    width: 240px;
    height: 350px;
    padding: 50px 50px 0px;
    margin: 50px 50px 0px;
}

/* footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 20px 30px;
}

/* portfolio user's name */
/* date published */
.footer-container h3 {
    color: #0000ff;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials a h3 {
    color: #000000;
}

.socials a {
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
}

