/* body */
/* default font */
* {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.attribute-credit {
    display: none;
}

/* fixed while scrolling */
#menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100;
    z-index: 1000;
}

/* menu icon */
#menu img {
    height: 32px;
    width: 32px;
    margin-right: 952px;
}

#menu nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    margin: 20px 30px;
}

#menu nav a {
    color:#000000;
    text-decoration: none;
    margin-right: 40px;
}

/* body */
table {
    border-collapse: collapse;
    text-align: left;
    padding: 120px 50px 300px;
    margin: 120px 50px 300px;
    width: 100;
    max-width: 1400px;
}

/* portfolio user's name */
th h1 {
    font-size: 50px;
    padding-right: 70px;
    margin-right: 70px;
}

/* portfolio user's introduction */
th h2 {
    font-size: 30px;
    word-spacing: 4px;
    padding-left: 70px;
    margin-left: 70px;
}

/* arrow icon */
th img {
    height: 32px;
    width: 32px;
    padding-top: 20px;
    margin-top: 20px;
}

/* highlight */
th h3 {
    font-size: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

/* arts and design */
th h4 {
    padding: 20px 0px 5px;
    margin: 20px 0px 5px;
}

/* list of description */
ul {
    padding-top: 0px;
    margin-top: 0px;
}

/* description */
li {
    font-size: 17px;
    padding-right: 70px;
    margin-right: 70px;
    line-height: 25px;
}

td a {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #000000;
}

/* right-up arrow icon */
td a img[src*='right-up'] {
    height: 17px;
    width: 17px;
}

td img[src*='flowerpainting'] {
    width: 395px;
    height: 300px;
    padding-left: 50px;
    margin-left: 50px;
}

.custom-line {
    border: none;
    width: 1225px;
    height: 2px;
    background-color: #000000;
    margin: 50px 0;
}

/* soundcloud click link */
li a[href*='cole-469833499'] {
    text-decoration: underline;
    padding: 0px;
    margin: 0px;
}

td img[src*='songcoverthbn.png'] {
    width: 470px;
    height: 265px;
    padding-left: 50px;
    margin-left: 50px;
}

td img[src*='dancethumbnail.png'] {
    width: 210px;
    height: 290px;
    padding: 0px 80px 0px;
    margin: 0px 20px 0px;
}

/* footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 20px 30px;
}

/* portfolio user's name */
/* date published */
.footer-container h3 {
    color: #0000ff;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials a h3 {
    color: #000000;
}

.socials a {
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
}

/* responsive: tablets */
@media (max-width: 1024px) {
    /* nav area */
    #menu nav {
        margin: 10px 15px;
        padding: 10px 15px;
    }

    #menu img {
        margin-right: 20px;
    }

    /* main table layout */
    table {
        width: 100%;
        padding: 100px 20px 150px;
        margin: 100px 0 150px;
    }

    th h1 {
        font-size: 40px;
        padding-right: 20px;
        margin-right: 20px;
    }

    th h2 {
        font-size: 24px;
        padding-left: 20px;
        margin-left: 20px;
    }

    li {
        padding-right: 20px;
        margin-right: 20px;
    }

    td img[src*='dancethumbnail.png'] {
        width: 100%;
        max-width: 200px;
        height: auto;
        padding: 20px;
        margin: 20px;
    }

    .custom-line {
        width: 100%;
    }
}

/* responsive: mobile phones */
@media (max-width: 768px) {
    /* stack nav, center everything */
    #menu {
        width: 100%;
        position: fixed;
    }

    #menu nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin: 0;
        padding: 15px 0;
    }

    #menu img {
        margin-right: 0;
    }

    #menu nav a {
        margin-right: 0;
    }

    /* make table sections stack vertically */
    table {
        display: block;
        width: 100%;
        padding: 180px 15px 80px; 
        margin: 0;
    }

    th, td {
        display: block;
        width: 100%;
    }

    th h1 {
        font-size: 32px;
        text-align: left;
        margin-bottom: 10px;
        padding-right: 0;
        margin-right: 0;
    }

    th h2 {
        font-size: 20px;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 0;
        margin-left: 0;
    }

    th img {
        margin-top: 10px;
    }

    /* images full width on small screens */
    td img[src*='flowerpainting'],
    td img[src*='songcoverthbn.png'],
    td img[src*='dancethumbnail.png'] {
        width: 100%;
        height: auto;
        padding: 10px 0;
        margin: 10px 0;
    }

    /* lists and links */
    ul {
        padding-left: 20px;
    }

    li {
        font-size: 16px;
        line-height: 22px;
        padding-right: 0;
        margin-right: 0;
    }

    li br {
        display: none;
    }

    td a {
        padding: 10px 0 40px;
        margin: 10px 0 40px;
    }

    .custom-line {
        width: 100%;
    }

    /* footer stacked */
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 15px;
        margin: 10;
    }

    .socials {
        flex-wrap: wrap;
    }
}