/* body */
/* default font */
* {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc;
}

/* menu icon */
#menu img {
    height: 32px;
    width: 32px;
    margin-right: 952px;
}

#menu nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    margin:  20px 30px;
}

#menu nav a {
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}

.container {
    display: flex;
    justify-content: flex-start;
    gap: 250px;
    box-sizing: border-box;
}

/* opening greetings */
h1 {
    font-size: 60px;
    text-align: left;
    padding: 0px 10px 0px 30px;
    margin: 0px 0px 0px 30px;
}

.submit-container {
    width: 100%;
    max-width: 400px; 
}

/* after submission message */
h2 {
    font-size: 60px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 170px;
}

.custom-line {
    border: none;
    width: 1245px;
    height: 2px;
    background-color: #000000;
    margin-left: 60px;
    text-align: left;
}

/* footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 20px 30px;
}

/* portfolio user's name */
/* date published */
.footer-container h3 {
    color: #0000ff;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials a h3 {
    color: #000000;
}

.socials a {
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
}